
/* UNIVERSAL STYLES */

* {
/*  border: 1px dotted red; */
}

@font-face {
    font-family: RomanAntique;
    src: url(./fonts/RomanAntique.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100vh;
    margin: 0%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
}

.emphasis {
  font-style: italic;
}

/* STYLES for stuff on the left side of the page */

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100vh;

}

.logoOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    top: 25vh;
    background: black;
    opacity: 0.6;
    text-align: center;
    width: 40%;
}

.image-credit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background:none;
  bottom: 1vh;
  width: 40%;
  font-weight: light;
  font-size: small;
  color: #FFFFFF;
}

#nostyle {
 color: #FFFFFF;
}

.logoText {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    opacity: 1;
    color:white;   
    font-size: 2rem;
}

h1.logoText {
    font-size:6vw;
    font-family: RomanAntique;
    font-weight: 100;
    padding-bottom: 4vh;

}

.logoImage {
    display: flex;
    width: 13vw;
    height: 13vw;
    z-index: 9;
    filter: invert(100%);
    margin-right: 1rem;
}

.left-image {
    max-width: auto;
    height: 100%;
    z-index: -1; 
    object-fit: cover;
}

/* STYLES for stuff on the right side of the page */

.right-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #D4DFD7ff;
}

.form-inputs {

}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  width: 70%;
  margin: 20% 10% 0 15%;
  font-weight: bold;
/*     padding-top: 13vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh; */
}

p.textContainer {
  
}

.signup-form-a {
    display: flex;
    flex-direction: column;
    background-color: #CDD4C7ff; 
    width: 100%;
    padding-top: 2%;
    padding-bottom: 7%;
    font-size: smaller;
    box-shadow: 0 5px 4px 0 #747C73ff;
  }


fieldset {
  display: flex;
  margin: 0%;
  padding: 0%;
  border: 0;
  width: 70%;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

p.form-inputs {
  margin-left: 15%;
} 

.form-inputs {
 width: 70%;
 margin-left: 15%;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.name-row {
    display: flex;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-right: 15%;

}

.email-row {
    display: flex;
    flex-direction: row;
    
}

.form-row input {
  background-color: #DCE6E0ff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  transition-duration: 0.2s;
}

.form-row input:focus {
  background-color: rgb(223, 230, 218);
  border: none;
  outline: none;
  box-shadow: 0 0 5px 1px;
}

.form-row input[type='email']:invalid {
  box-shadow: 0 0 5px 1px #a80608;
}


.password-row {
    display: flex;
    flex-direction: row;
    
}


.form-row label {
  
}

.create-account {
  margin: 40px 0px 0 15%;
}

.create-account button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #39311Eff;

  border: none;
  border-radius: 4px;

  padding: 10px 40px;
  cursor: pointer;

  transition-duration: 0.3s;
}

.create-account button:hover {
  background-color: #604E2Fff;
}

/* colour palette 
--mint-cream: #DCE6E0ff;
--ash-gray: #CDD4C7ff;
--olive-drab-7: #39311Eff;
--nickel: #747C73ff;
--field-drab: #564A27ff;
--field-drab: #68583Cff;
--field-drab-2: #604E2Fff;
*/