
* {
/* border: 1px dotted red; */
}

@font-face {
    font-family: RomanAntique;
    src: url(./fonts/RomanAntique.ttf);
}

body {
    height: 100vh;
    margin: 0%;
}

.main {
    display: flex;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100vh;

}

.right-container {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 1rem 3rem 0.5rem;
}

.logoOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    top: 25vh;
    background: black;
    opacity: 0.7;
    text-align: center;
    width: 45%;
}

.logoText {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    opacity: 1;
    color:white;   
    font-size: 2rem;
}

h1.logoText {
    font-size:6vw;
    font-family: RomanAntique;
    font-weight: 100;
    padding-bottom: 4vh;

}

.logoImage {
    display: flex;
    width: 13vw;
    height: 13vw;
    z-index: 9;
    filter: invert(100%);
    margin-right: 1rem;
}

.left-image {
    max-width: auto;
    height: 100%;
    z-index: -1; 
    object-fit: cover;
}

.textContainer {
    padding-top: 13vh;
    padding-bottom: 5vh;
}

.signup-form-a {
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .name-row {
    display: flex;
    flex-direction: row;
    
  }

  .name-box {
    display: flex;
    flex-direction: column;
  }

  .email-row {
    display: flex;
    flex-direction: row;
    
  }

  .email-box {
    display: flex;
    flex-direction: column;
  }

  .form-row input[type='text'] {
    width: auto; 
    height: initial;
  }

  .form-row input[type='email'] {
    width: auto; 
    height: initial;
  }

  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }